
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="intro">
    <div class="content">
        <img src="" />
        <h1>washbears</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id pellentesque metus, in ultricies nibh. Morbi quis felis sit amet dui fringilla consectetur id vel elit</p>
    </div>
</div>
<div id="about">
    <div id="us">
        <div class="content">
            <h2>About</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id pellentesque metus, in ultricies nibh. Morbi quis felis sit amet dui fringilla consectetur id vel elit. Nulla facilisi. Vivamus felis tellus, finibus vel mi at, lobortis lobortis mi. Cras vestibulum dictum facilisis. Sed eu venenatis est. Integer eu nisi vitae purus lacinia imperdiet. Integer in ex vitae est elementum tincidunt. Morbi nec urna sed est malesuada malesuada. Nulla dui urna, fermentum quis gravida vitae, accumsan tristique mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
    </div>
    <div id="members">
        <div id="alpsten" class="content">
            <h2>Namn</h2>
            <h3>Arbetarroll</h3>
            <a>Hemsida</a>
        </div>
        <div id="eriksson" class="content">
            <h2>Namn</h2>
            <h3>Arbetarroll</h3>
            <a>Hemsida</a>
        </div>
        <div id="hanner" class="content">
            <h2>Namn</h2>
            <h3>Arbetarroll</h3>
            <a>Hemsida</a>
        </div>
        <div id="skagerberg" class="content">
            <h2>Namn</h2>
            <h3>Arbetarroll</h3>
            <a>Hemsida</a>
        </div>
    </div>
</div>
<div id="process">
    <div class="content">
        <h2>Steg 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id pellentesque metus, in ultricies nibh. Morbi quis felis sit amet dui fringilla consectetur id vel elit. Nulla facilisi. Vivamus felis tellus, finibus vel mi at, lobortis lobortis mi. Cras vestibulum dictum facilisis. Sed eu venenatis est. Integer eu nisi vitae purus lacinia imperdiet.</p>
    </div>
    <div class="content">
        <h2>Steg 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id pellentesque metus, in ultricies nibh. Morbi quis felis sit amet dui fringilla consectetur id vel elit. Nulla facilisi. Vivamus felis tellus, finibus vel mi at, lobortis lobortis mi. Cras vestibulum dictum facilisis. Sed eu venenatis est. Integer eu nisi vitae purus lacinia imperdiet.</p>
    </div>
    <div class="content">
        <h2>Steg 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id pellentesque metus, in ultricies nibh. Morbi quis felis sit amet dui fringilla consectetur id vel elit. Nulla facilisi. Vivamus felis tellus, finibus vel mi at, lobortis lobortis mi. Cras vestibulum dictum facilisis. Sed eu venenatis est. Integer eu nisi vitae purus lacinia imperdiet.</p>
    </div>
    <div class="content">
        <h2>Steg 4</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id pellentesque metus, in ultricies nibh. Morbi quis felis sit amet dui fringilla consectetur id vel elit. Nulla facilisi. Vivamus felis tellus, finibus vel mi at, lobortis lobortis mi. Cras vestibulum dictum facilisis. Sed eu venenatis est. Integer eu nisi vitae purus lacinia imperdiet.</p>
    </div>
</div>
<div id="footer">
    <div id="contact" class="content">
        <ul>
            <li>Contact</li>
            <li>Namn</li>
            <li>Phone #</li>
            <li>Mail</li>
        </ul>
    </div>
    <div id="location" class="content">
        <ul>
            <li>Location</li>
            <li>Address</li>
            <li>City</li>
            <li>Postcode</li>
        </ul>
    </div>
    <div id="media" class="content">
        <a>GitHub</a>
    </div>
</div>

